/* VARIABLES
--------------------------------------------------------- */

// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

// 1. ROOT 					==============================

$bodycolor : $white;
$textcolor : #444;

// 2. TYPOGRAPHY 			==============================

$basefont : "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondaryfont : Georgia, Times, "Times New Roman", serif;
$basefontsize : 16;
$baselineheight : 1.5em;
$baseheadingfont : inherit;
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

$altfont : Cambria, Georgia, Times, "Times New Roman";
$altlineheight : 1.35em;

$codefont : Monaco, Courier New, monospace;

// 3. COLOUR 				==============================

$basecolor 		: #008bcb;
$bannercolor    : lighten($basecolor, 20%);
$compcolor 		: adjust-hue($basecolor, 180);
$bordercolor    : lighten($basecolor, 60%);

// Links

$linkcolor 		    : #008bcb;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);

// colour palettes

$alertcolor 	: rgb(252,248,227);
$errorcolor 	: rgb(218,79,73);
$infocolor 		: rgb(217,237,247);
$inverscolor 	: rgb(65,65,65);
$successcolor 	: rgb(91,183,91);
$warningcolor 	: rgb(250,167,50);